//Color
$white: #ffffff;
// $o-white: rgba(255, 255, 255, 0.3);
$l-gray: #dfe5ec;
$d-gray: #4a4a4a;
$s-gray: #a0b0b9;
$blue: #2196f3;
// $dd-green: #46c1ae;
// $black: #000000;
// $g-black: #444444;
// $w-gray: #f1f1f1;
$n-gray: #9abbce;
// $n-white: #ececec;
// $o-black: rgba(0, 0, 0, 0.1);
// $od-black: rgba(0, 0, 0, 0.3);
$bc-gray: #f3f7fa;
$sh-gray: rgba(0, 0, 0, 0.1);

// Width
$desktop-width: 960px;
