.form {
  padding: 20px;
  background-color: $white;
  box-shadow: 0px 2px 8px $sh-gray;
  border-radius: 5px;
}

.form__search {
  @include margin-padding(0, 0);
  border: none;
}

.form__legend {
  margin-bottom: 20px;
  @include font-face(600, 12px, 12px);
  text-transform: uppercase;
}

.form__list {
  @include margin-padding(0, 0);
  list-style: none;
}

.form__item {
  margin-bottom: 20px;
  @include font-face(400, 13px, 20px);

  &:last-child {
    margin-bottom: 0;
  }
}

.form__label {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
}

.form__input + .form__label {
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    margin: auto;
    width: 18px;
    height: 18px;
    border: 1px solid $n-gray;
    border-radius: 2px;
  }
}

.form__input:checked + .form__label {
  &::before {
    border: 1px solid $blue;
    background-image: url("../image/icon-filter/shape.svg");
    background-size: 12px 8px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.form__input:hover + .form__label {
  &::before {
    border: 1px solid $blue;
  }
}
