.information-list {
  @include margin-padding(0, 0);
  list-style: none;
  margin-bottom: 20px;
}

.information-list__item {
  padding: 20px;
  background-color: $white;
  box-shadow: 0px 2px 8px $sh-gray;
  border-radius: 5px;
}

.information-list__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.information-list__price {
  width: 160px;
  @include margin-padding(0, 0);
  color: $blue;
  @include font-face(600, 24px, 24px);
}
