.page-main {
  flex: 1;
  width: 100%;
  display: flex;
}

.page-main__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 754px;
  padding-left: 103px;
  padding-right: 103px;
}
